<template>
	<div class="alert">{{error}}</div>
</template>

<script>
export default {
  data () {
    return {
      msg: null
    }
  },
  computed:{
  	error(){
  		return this.msg || 'page not found'
  	}
  }
}

</script>	