<template>
<div>
	<div v-if="lid!=null" style="color:#060;font-size:16px;">logged as {{lid}}</div>
	<h1>Key list</h1>
	<div v-show="loading">loading...</div>
	<div v-show="loginkey!==null">
		<input type="text" placeholder="PIN" />
		<button  v-on:click.stop.prevent="login(loginkey)">login</button>
	</div>

	<div v-if="msg!==null">
		{{msg}}
	</div>
	<ul v-if="keys!==null">
		<li v-for="item in keys">{{item.id}} <a href="#"  v-on:click.stop.prevent="register(item.id)">{{item.active}}</a>
		<a href="#"  v-on:click.stop.prevent="select(item.id)" >login</a>
		</li>
	</ul>
</div>
</template>

<script>
import rutokenext from 'libs/rutoken'
import { mapState, mapActions } from 'vuex'
//import * as types from '@/store/mutations'
var plugin;
var dev;


export default {
  created(){
  
  	let rutoken = rutokenext({});
  	let vm = this;
  	vm.setLoading(true);
  	rutoken.ready.then(()=>{
  		if (window.chrome) {
            return rutoken.isExtensionInstalled();
        } else {
            return Promise.resolve(true);
        }
  	}).then(function(result){
			if (result) {
                return rutoken.isPluginInstalled();
            } else {
            	throw "Браузер временно не поддерживается. Пожалуйста, воспользуйтесь браузером Apple Safari или Mozilla Firefox.";
            }
	}).then(function(result) {
            if (result) {
                return rutoken.loadPlugin();
            } else {
            	throw "not loaded";
            }
     }).then(function(p) {
        	//console.log(plugin);
        
        	plugin = p;
            console.log("plugin loaded");
        	return plugin.enumerateDevices();
        	

    }).then( function(devs){
            if(devs.length==0){
                throw "Устройство не найдено"
            }
            dev = devs[0];
            return plugin.enumerateKeys(dev, "");
    }).then( function(keys){
        	vm.keys = keys.map( v=>{
        		return {id: v , name:'', active:false}
        	});
        	vm.setLoading(false);

    }).catch(err=>{
    	vm.setLoading(false);
  		vm.msg= err;
  	})

  },
  computed: {
  	...mapState([
    	'loading', 'lid'	
    ])
  },
  methods: {
  	select(keyid){
  		this.loginkey=keyid;

  	},
  	login(keyid){
  		let key;
  		let vm=this;
  		vm.loginkey = null;
  		//let commit = this.$store.commit;
  		//commit(types.SET_LOADING,true);
  		vm.setLoading(true);

  		fetch("/api/auth/").then( resp=>{
  			return resp.json()
  		}).then( data=>{
  			key = data.key;
  			//console.log( "hash:"+key);
  			let p=[];
  			for (var i = 0; i < key.length; i+=2) {
        		p.push( key.substr(i, 2) );
    		}
    		let hash = p.join(":");
    		
  			return plugin.rawSign(dev, keyid, hash , {computeHash:false}) 

  		}).then( sign=>{

  			return fetch("/api/auth/",{
  				method:"post", 
  				body: JSON.stringify({
  					id: keyid.replace(/:/g, ""),
  					key: key,
  					sign: sign.replace(/:/g, "")
  				})
  			})

  		}).then( resp=>{
  			vm.setLoading(false);

  			if(resp.status==200){
  				//console.log("login success")
  				vm.setLoginStatus(key);
  			}else{
  				vm.setLoginStatus(null);
  				throw "login failed"

  			}
  			
  		}).catch( err=>{
  			console.log("error");
  			console.log(err);
  			
  		})
  	},

  	register(keyid){

  		let vm=this;
  		this.setLoading(true);

  		plugin.getPublicKeyValue(dev, keyid, {}).then(pkey=>{
  			return fetch('/api/register/',{
  				method:'post',
  				body: JSON.stringify({id: keyid.replace(/:/g,""), sign: pkey.replace(/:/g, "") })
  			})
  		}).then( (resp)=>{
  			
  			if(resp.status!=200){
  				throw "service error"
  			}
  			vm.setLoading(false);
  		}).catch( (err)=>{
  			
  			this.msg='не удалось зарегистрировать';
  			vm.setLoading(false);
  		})
  	},
  	 ...mapActions([
      'setLoginStatus','setLoading'
    ])
  },

  data () {
    return {
      msg: null,
      keys: null,
      loginkey: null
    }
  }
}
</script>	