<template>
	<router-view id="app"></router-view>
</template>

<script>

import { mapState } from 'vuex'

export default {
    name: 'app',
    data(){
      return {        
        q:''
      }
    },
    created(){

    },
    computed:{
       name(){
       },
      ...mapState([
        'loading' 
      ])
    },
    methods: {
    }
}
</script>


